<app-menu></app-menu>
<div id="content">
    <div class="row mx-0 px-0 content">
        <div class="col-12 px-4 py-2">
            <div class="row mb-2">
                <div class="col-xl-6 col-9">
                    <h2 class="lh-16">
                        <span class="fs-18 text-semibold color-2">Yo controlo</span><br>
                        <span class="fs-14 fw-light">Su espacio personal </span>
                    </h2>
                </div>
                <div class="col-xl-6 col-3 pr-4 text-end">
                    <button class="btn btn-sm btn-outline-warning px-2 py-0" ><i class="fa-solid fa-play" aria-hidden="true"></i> Tour</button>
                </div>
            </div>
        
            <div class="row">


                <div class="col-12">

                    <div class="row d-flex justify-content-center pb-4">

                        <div class="col-xl-2 col-lg-4 col-md-6 col-6 cursor-pointer my-2">
                            <div class="row justify-content-center">
                                <div class="col-12 hidden">
                                        <div class="row align-items-center" id="t-tog">
                                            <div class="col-auto">
                                            <div class="avatar rounded bg-light-white text-black">
                                                <i class="pi pi-check" aria-hidden="true"></i>
                                            </div>
                                            </div>
                                            <div class="col ps-0">
                                            <div class="small mb-0">Total</div>
                                            <h4 class="mb-0 color-2 fw-bolder">
                                                    <span class="text-semibold" id="dato_caracterizados">0</span> 
                                                    <small class="text-regular">OK</small>
                                            </h4>
                                            <div class="small color-2">General <span class="text-green"></span></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xl-2 col-lg-4 col-md-6 col-6 cursor-pointer my-2">
                            <div class="row justify-content-center">
                                <div class="col-12 hidden">
                                        <div class="row align-items-center" id="t-toc">
                                            <div class="col-auto">
                                            <div class="avatar rounded bg-light-green text-success">
                                                    <i class="pi pi-check" aria-hidden="true"></i>
                                            </div>
                                            </div>
                                            <div class="col ps-0">
                                            <div class="small mb-0">Total</div>
                                            <h4 class="mb-0 color-2 fw-bolder">
                                                    <span class="text-semibold" id="dato_caracterizados">0</span> 
                                                    <small class="text-regular">OK</small>
                                            </h4>
                                            <div class="small color-2">Cumplidas <span class="text-green"></span></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xl-2 col-lg-4 col-md-6 col-6 cursor-pointer my-2">
                            <div class="row justify-content-center">
                                <div class="col-12 hidden">
                                        <div class="row align-items-center" id="t-top">
                                            <div class="col-auto">
                                            <div class="avatar rounded bg-light-yellow text-warning">
                                                <i class="pi pi-check" aria-hidden="true"></i>
                                            </div>
                                            </div>
                                            <div class="col ps-0">
                                            <div class="small mb-0">Total</div>
                                            <h4 class="mb-0 color-2 fw-bolder">
                                                    <span class="text-semibold" id="dato_caracterizados">0</span> 
                                                    <small class="text-regular">OK</small>
                                            </h4>
                                            <div class="small color-2">Pendientes <span class="text-green"></span></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xl-2 col-lg-4 col-md-6 col-6 cursor-pointer my-2">
                            <div class="row justify-content-center">
                                <div class="col-12 hidden">
                                        <div class="row align-items-center" id="t-tcm">
                                            <div class="col-auto">
                                            <div class="avatar rounded bg-light-red text-danger">
                                                <i class="pi pi-check" aria-hidden="true"></i>
                                            </div>
                                            </div>
                                            <div class="col ps-0">
                                            <div class="small mb-0">Total</div>
                                            <h4 class="mb-0 color-2 fw-bolder">
                                                    <span class="text-semibold" id="dato_caracterizados">0</span> 
                                                    <small class="text-regular">OK</small>
                                            </h4>
                                            <div class="small color-2">No Cumplidas <span class="text-green"></span></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-2 col-lg-4 col-md-6 col-6 cursor-pointer my-2">
                            <div class="row justify-content-center">
                                <div class="col-12 hidden">
                                        <div class="row align-items-center" id="t-tod">
                                            <div class="col-auto">
                                            <div class="avatar rounded bg-light-blue text-primary">
                                                <i class="pi pi-check" aria-hidden="true"></i>
                                            </div>
                                            </div>
                                            <div class="col ps-0">
                                            <div class="small mb-0 ">Total</div>
                                            <h4 class="mb-0 color-2 fw-bolder">
                                                    <span class="" id="dato_caracterizados">0</span> 
                                                    <small class=""> OK</small>
                                            </h4>
                                            <div class="small color-2">Del día <span class="text-green"></span></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                </div>
                    
                </div>

                <div class="col-12 text-center py-4">
                    <h3 class="color-2 fw-bold fs-24">¿nuestra  <span class="text-gradient">visión </span> del día<span class="text-gradient"> aquí?</span></h3>
                    <p class="line-height-18 color-1"> Manténgase actualizado, sin importar la carga de trabajo. </p>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                    <div class="bg-3 rounded p-4">
                        <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

